.gdbar img {
  width: 108px !important;
  height: 81px !important;
}

slides > slide:not(.nobackground):before {
  width: 72px;
  height: 54px;
  background-size: 72px 54px;
  left: initial;
  right: 0;
  top: 50;
  bottom: initial;
}

h2 {  
  color: #005EB8 !important;
}
slides > slide {
  font-family: Arial, Arial, Arial;
}